*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    width: 100vw;
    
    background-image:url(../imgs/fondoBirra.jpg) 


}



header {
    border: 2px solid red;
    height: 30vh;
    width: 100vw;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    nav{
            display: flex;
            justify-content: end;
            margin-top: 1rem;
            padding: 1rem;
        }
    
    h1{
        height: 10vh;
        
        font-size: 4em;
        text-align: center;
    }
    .img-logo{
        text-align: center;
        border-color: 2px;
        filter: drop-shadow(5px 5px 5px black);
        
        
    }
}    
main{
   
    .contenedor-productos{
        height: 100vh;
    }
    .producto{
        border: solid #2A7B9B;
        
        text-align: center;
    }

    h2{
        font-size: 2em;
    }

    img{
        height: 70px;
        width: 90px;
        object-fit: contain;
    }

}


footer {
    border: 2px solid rgb(255, 0, 149);
    display: flex;
    justify-content: center;
    align-content: start;
    
    font-style: italic;
    text-align: center;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    .col-redes{
        .l{
            img{
                width: 30px;

            }
        }       
        
        }
    .parrafooter{
        font-size: 1.5em;
    }    
    .seguinos{
        font-size: 1.25em;
    }
    
   
    
}